language: python
python:
  - "2.7"
  - "3.2"
  # does not have headers provided, please ask https://launchpad.net/~pypy/+archive/ppa
  # maintainers to fix their pypy-dev package.
  - "pypy"
# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt
# command to run tests
script: 
  - python pygame2exe.py
  - cp -r dist/* ./
  - rm -r dist/